
<% if @post.total <= -100 %>
<p>アウトー！</p>
<% elsif @post.total <= 100 %>
<p>おおっ？！</p>
<% elsif @post.total <= 500 %>
<p>ファイト！！</p>
<% elsif @post.total <= 1000 %>
<p>いい感じ</p>
<% else %>
<p>いい感じ</p>
<% end %>

<div>
  <form action="/posts/<%= @post.id %>" method="post">
    <div>
      <input type="integer" name="cost" placeholder="コスト"><br>
    </div>
    <div>
      <input type="submit" value="購入">
    </div>
  </form>
</div>

<form action="/posts/<%= @post.id %>/result" method="get">
  <input type="submit" value="結果">
</form>
<%= @post.budget %>