
<h1><%= @post.budget %></h1>
<div>
  <form action="/posts/<%= @post.id %>" method="post">
    <div>
      <input type="integer" name="cost" placeholder="コスト"><br>
    </div>
    <div>
      <input type="submit" value="登録">
    </div>
  </form>
</div>