<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
<% unless session[:user] %>
 <a href="/signup">新規登録</a><br>
 <form action="/signin" method="post">
<input type="text" name="name" placeholder="パスワード"><br>
<input type="password" name="password" placeholder="パスワード"><br>
<input type="submit" value="ログイン"><br>
</form>
<h2>未ログイン</h2>

<% else %>

<a href="/signout">ログアウト</a>
<h2><%= User.find(session[:user]).name %>としてログイン</h2>

<div>
  <form action="/posts" method= "post">
    <div>
      <div>
        <input type="integer" name="total" name="budget" placeholder="予算"><br>
      </div>
    <div>
      <input type="submit" value="登録">
    </div>
    </div>
  </form>
</div>
<% end %>



<% @posts.each do |post| %>
	<tr>
		<td><%= post.total %></td>
	<tr>

  <% unless post.completed %>
  <td><a href="/posts/<%= post.id %>/edit">編集</a></td>
  <% else %>
  Done !
  <% end %>


<% end %>




</body>
</html>
