<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>

</head>
<body>

<% unless session[:user] %>
 <form action="/signin" method="post">
      <input type="text" name="name" placeholder="パスワード"><br>
      <input type="password" name="password" placeholder="パスワード"><br>
      <input type="submit" value="ログイン"><br>
      </form>

<% else %>

<h1>今日の予算を入れてね！</h1>
<h1>今日の予算を入れてね！</h1>


<div>
  <form action="/posts" method= "post">
    <div>
      <div>
        <input type="integer" name="total" name="budget" placeholder="予算"><br>
      </div>
    <div>
      <input type="submit" value="登録">
    </div>
    </div>
  </form>
</div>
<% end %>








</body>
</html>
