<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
 <script type="text/javascript">
    function exec() {
      var date = new Date();

      format_str = 'YYYY-MM-DD hh:mm:ss';
      format_str = format_str.replace(/YYYY/g, date.getFullYear());
      format_str = format_str.replace(/MM/g, date.getMonth());
      format_str = format_str.replace(/DD/g, date.getDate());
      format_str = format_str.replace(/hh/g, date.getHours());
      format_str = format_str.replace(/mm/g, date.getMinutes());
      format_str = format_str.replace(/ss/g, date.getSeconds());

      target = document.getElementById("timeframe");
      target.innerHTML = format_str;
    }
  </script>

</head>
<body>
<% unless session[:user] %>
 <form action="/signin" method="post">
      <input type="text" name="name" placeholder="パスワード"><br>
      <input type="password" name="password" placeholder="パスワード"><br>
      <input type="submit" value="ログイン"><br>
      </form>

<% else %>

<h1>今日の予算を入れてね！</h1>
<div>現在の時刻:<span id="timeframe"></span></div>
  <a href="#" onclick="exec();">時刻表示</a>




<div>
  <form action="/posts" method= "post">
    <div>
      <div>
        <input type="integer" name="total" name="budget" placeholder="予算"><br>
      </div>
    <div>
      <input type="submit" value="登録">
    </div>
    </div>
  </form>
</div>
<% end %>



<% @posts.each do |post| %>
	<tr>
		<td><%= post.total %></td>
    <td><% post.task %></td>

	<tr>

  <% unless post.completed %>
  <td><a href="/posts/<%= post.id %>/edit">編集</a></td>
  <% else %>
  Done !
  <% end %>


<% end %>





</body>
</html>
